/* html {
    height: 100%;
    width: 100%;
} */
nav{
    background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
  }
  
b{
    color: darkseagreen;
  }
  

body {
    background-color: black;
    background:url("https://wallpapercave.com/wp/wp4220085.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Droid Serif', serif;
}

div.container-sm {
    margin-top: 6%;
    background:rgba(226, 186, 9, 0.178);
    /* width: 18.75rem;
    height: 25rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    box-shadow: -2px -1px 47px -3px rgba(0,0,0,0.87);
    -webkit-box-shadow: -2px -1px 47px -3px rgba(0,0,0,0.87);
    -moz-box-shadow: -2px -1px 47px -3px rgba(0,0,0,0.87);
}

h3 {
    text-align: center;
    vertical-align: middle;
    /* line-height: 3rem;
    height: 3rem; */
    background: black;
    /* font-size: 1.4rem; */
    color: #d3d3d3;
}

fieldset {
    border: 0;
    text-align: center;
}

input[type="submit"] {
    background: goldenrod;
    border: 0;
    display: block;
    width: 70%;
    margin: 0 auto;
    color: white;
    padding: 0.7rem;
    cursor: pointer;
}

input {
    background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: black;
    padding: 10px;
    color: white;
}
label{
    color: floralwhite;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: black;
    border-radius: 1.2rem;
    border-color: transparent;
}

::placeholder {
    color: #d3d3d3;
}

/*Media queries */
/* 
@media all and (min-width: 481px) and (max-width: 568px) {
    #container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
    @media all and (min-width: 569px) and (max-width: 768px) {
        #container {
            margin-top: 5%;
            margin-bottom: 5%;
        }
    } */