html,body{
    /* background-color: rgb(223, 172, 172) !important; */
    
    /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%) !important; */
    background-image: url("https://i.pinimg.com/originals/5f/ff/2e/5fff2eb81280cb14467728d6bb5957e0.jpg");
    background-size:cover;
    background-attachment: fixed;
      
}

nav{
  background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
  color: red;
}

b{
  color: darkseagreen;
}

div.container-lg{
  margin-top: 0.2%;
  background-color: #0488a6;
  background-image: linear-gradient(19deg, #0488a6 0%, #B721FF 100%);
  color: wheat;
}  

.btn-grad 
{
    background-image: linear-gradient(to right, #35a0e2 10%, #3893bd  41%, #da2dda  100%)
}
.btn-grad {
   margin: auto;/*code for get the center button*/
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 100% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: flex;/*code for get the center button*/
   justify-content: center; /*code for get the center button*/
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
